mat-toolbar {
  height: 10vh;
}

mat-toolbar > h1 {
  font-size: 5rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: #ecf0f1;
}
.spacer {
  flex: 1 1 auto;
}

mat-icon {
  transform: scale(1.75)
}
