section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

mat-card {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 50px;
  width: 500px;
}

mat-card > img {
  background: #673ab7;
  margin: 20px;
  height: 300px;
  width: 300px;
}

mat-card:hover {
  transform: scale(1.25);
}
